<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pepepay.pepepaynative">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.wifi.direct" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:configChanges="keyboardHidden|screenSize"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".helpers.SplashScreen"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WalletOverview2" />
        <activity
            android:name=".backend.social31.handler.qrCode.QRConnectionHandler$QRConnectionHandlerActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activities.qr.QRCreatorActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d48dc3191c53cf51b261bbf6cb01f4e4256cd2ae" />

    </application>

</manifest>